<ion-view title="Welcome" class="tour">
  <ion-slide-box>
    <ion-slide>
      <img src="img/logo.jpg" />
      <h2>Welcome to<br />UIUX Home</h2>
    </ion-slide>
    <ion-slide>
      <h3>在这里</h3>
      <h3>任性打电话</h3>
      <h3>任性发短信</h3>
      <h3>任性点赞</h3>
      <h3>任性拍照</h3>
      <h3>关键就是：不差钱!</h3>
    </ion-slide>
    <ion-slide>
      <img src="img/logo.jpg" />
        <a class="button button-full button-positive"
           href="#/person">
          Get Started
        </a>
    </ion-slide>
  </ion-slide-box>
</ion-view>
